<a href="https://colab.research.google.com/github/gaiamilenium99/ai4eng_health_issues1/blob/main/Entrega2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Procesamiento del dataset



1.   Importar dataset

2.   Observar valores null de la informacion

In [5]:
import numpy as np
import pandas as pd
import io
from google.colab import files

In [1]:
! pip install kaggle
! mkdir ~/.kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (1.5.13)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (2.0.12)

In [2]:
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json

In [3]:
! kaggle datasets download mitishaagarwal/patient

Downloading patient.zip to /content
 60% 5.00M/8.30M [00:00<00:00, 50.6MB/s]
100% 8.30M/8.30M [00:00<00:00, 74.1MB/s]

In [4]:
! unzip patient.zip

Archive:  patient.zip
replace dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: dataset.csv

# 1. Lectura del Dataset

In [6]:
df=pd.read_csv("/content/dataset.csv")

In [9]:
df.shape

(91713, 85)

In [11]:
print(df)

       encounter_id  patient_id  hospital_id   age        bmi  \
0             66154       25312          118  68.0  22.730000
1            114252       59342           81  77.0  27.420000
2            119783       50777          118  25.0  31.950000
3             79267       46918          118  81.0  22.640000
4             92056       34377           33  19.0        NaN
...             ...         ...          ...   ...        ...
91708         91592       78108           30  75.0  23.060250
91709         66119       13486          121  56.0  47.179671
91710          8981       58179          195  48.0  27.236914
91711         33776      120598           66   NaN  23.297481
91712          1671       53612          104  82.0  22.031250

       elective_surgery  ethnicity gender  height           icu_admit_source  \
0                     0  Caucasian      M   180.3                      Floor
1                     0  Caucasian      F   160.0                      Floor
2                     0  Caucasian      F   172.7       Accident & Emergency
3                     1  Caucasian      F   165.1  Operating Room / Recovery
4                     0  Caucasian      M   188.0       Accident & Emergency
...                 ...        ...    ...     ...                        ...
91708                 0  Caucasian      M   177.8                      Floor
91709                 0  Caucasian      F   183.0                      Floor
91710                 0  Caucasian      M   170.2       Accident & Emergency
91711                 0  Caucasian      F   154.9       Accident & Emergency
91712                 1  Caucasian      F   160.0  Operating Room / Recovery

       ...  diabetes_mellitus hepatic_failure immunosuppression  leukemia  \
0      ...                1.0             0.0               0.0       0.0
1      ...                1.0             0.0               0.0       0.0
2      ...                0.0             0.0               0.0       0.0
3      ...                0.0             0.0               0.0       0.0
4      ...                0.0             0.0               0.0       0.0
...    ...                ...             ...               ...       ...
91708  ...                1.0             0.0               0.0       0.0
91709  ...                0.0             0.0               0.0       0.0
91710  ...                1.0             0.0               0.0       0.0
91711  ...                0.0             0.0               0.0       0.0
91712  ...                0.0             0.0               0.0       0.0

       lymphoma  solid_tumor_with_metastasis  apache_3j_bodysystem  \
0           0.0                          0.0                Sepsis
1           0.0                          0.0           Respiratory
2           0.0                          0.0             Metabolic
3           0.0                          0.0        Cardiovascular
4           0.0                          0.0                Trauma
...         ...                          ...                   ...
91708       0.0                          1.0                Sepsis
91709       0.0                          0.0                Sepsis
91710       0.0                          0.0             Metabolic
91711       0.0                          0.0           Respiratory
91712       0.0                          0.0      Gastrointestinal

       apache_2_bodysystem  Unnamed: 83  hospital_death
0           Cardiovascular          NaN               0
1              Respiratory          NaN               0
2                Metabolic          NaN               0
3           Cardiovascular          NaN               0
4                   Trauma          NaN               0
...                    ...          ...             ...
91708       Cardiovascular          NaN               0
91709       Cardiovascular          NaN               0
91710            Metabolic          NaN               0
91711          Respiratory          NaN               0
91712     Gastrointestinal          NaN               0

[91713 rows x 85 columns]

Se observa la cantidad de valores nulos presentes en el dataset

In [8]:
df.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Data columns (total 85 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   encounter_id                   91713 non-null  int64
 1   patient_id                     91713 non-null  int64
 2   hospital_id                    91713 non-null  int64
 3   age                            87485 non-null  float64
 4   bmi                            88284 non-null  float64
 5   elective_surgery               91713 non-null  int64
 6   ethnicity                      90318 non-null  object
 7   gender                         91688 non-null  object
 8   height                         90379 non-null  float64
 9   icu_admit_source               91601 non-null  object
 10  icu_id                         91713 non-null  int64
 11  icu_stay_type                  91713 non-null  object
 12  icu_type                       91713 non-null  object
 13  pre_icu_los_days               91713 non-null  float64
 14  weight                         88993 non-null  float64
 15  apache_2_diagnosis             90051 non-null  float64
 16  apache_3j_diagnosis            90612 non-null  float64
 17  apache_post_operative          91713 non-null  int64
 18  arf_apache                     90998 non-null  float64
 19  gcs_eyes_apache                89812 non-null  float64
 20  gcs_motor_apache               89812 non-null  float64
 21  gcs_unable_apache              90676 non-null  float64
 22  gcs_verbal_apache              89812 non-null  float64
 23  heart_rate_apache              90835 non-null  float64
 24  intubated_apache               90998 non-null  float64
 25  map_apache                     90719 non-null  float64
 26  resprate_apache                90479 non-null  float64
 27  temp_apache                    87605 non-null  float64
 28  ventilated_apache              90998 non-null  float64
 29  d1_diasbp_max                  91548 non-null  float64
 30  d1_diasbp_min                  91548 non-null  float64
 31  d1_diasbp_noninvasive_max      90673 non-null  float64
 32  d1_diasbp_noninvasive_min      90673 non-null  float64
 33  d1_heartrate_max               91568 non-null  float64
 34  d1_heartrate_min               91568 non-null  float64
 35  d1_mbp_max                     91493 non-null  float64
 36  d1_mbp_min                     91493 non-null  float64
 37  d1_mbp_noninvasive_max         90234 non-null  float64
 38  d1_mbp_noninvasive_min         90234 non-null  float64
 39  d1_resprate_max                91328 non-null  float64
 40  d1_resprate_min                91328 non-null  float64
 41  d1_spo2_max                    91380 non-null  float64
 42  d1_spo2_min                    91380 non-null  float64
 43  d1_sysbp_max                   91554 non-null  float64
 44  d1_sysbp_min                   91554 non-null  float64
 45  d1_sysbp_noninvasive_max       90686 non-null  float64
 46  d1_sysbp_noninvasive_min       90686 non-null  float64
 47  d1_temp_max                    89389 non-null  float64
 48  d1_temp_min                    89389 non-null  float64
 49  h1_diasbp_max                  88094 non-null  float64
 50  h1_diasbp_min                  88094 non-null  float64
 51  h1_diasbp_noninvasive_max      84363 non-null  float64
 52  h1_diasbp_noninvasive_min      84363 non-null  float64
 53  h1_heartrate_max               88923 non-null  float64
 54  h1_heartrate_min               88923 non-null  float64
 55  h1_mbp_max                     87074 non-null  float64
 56  h1_mbp_min                     87074 non-null  float64
 57  h1_mbp_noninvasive_max         82629 non-null  float64
 58  h1_mbp_noninvasive_min         82629 non-null  float64
 59  h1_resprate_max                87356 non-null  float64
 60  h1_resprate_min                87356 non-null  float64
 61  h1_spo2_max                    87528 non-null  float64
 62  h1_spo2_min                    87528 non-null  float64
 63  h1_sysbp_max                   88102 non-null  float64
 64  h1_sysbp_min                   88102 non-null  float64
 65  h1_sysbp_noninvasive_max       84372 non-null  float64
 66  h1_sysbp_noninvasive_min       84372 non-null  float64
 67  d1_glucose_max                 85906 non-null  float64
 68  d1_glucose_min                 85906 non-null  float64
 69  d1_potassium_max               82128 non-null  float64
 70  d1_potassium_min               82128 non-null  float64
 71  apache_4a_hospital_death_prob  83766 non-null  float64
 72  apache_4a_icu_death_prob       83766 non-null  float64
 73  aids                           90998 non-null  float64
 74  cirrhosis                      90998 non-null  float64
 75  diabetes_mellitus              90998 non-null  float64
 76  hepatic_failure                90998 non-null  float64
 77  immunosuppression              90998 non-null  float64
 78  leukemia                       90998 non-null  float64
 79  lymphoma                       90998 non-null  float64
 80  solid_tumor_with_metastasis    90998 non-null  float64
 81  apache_3j_bodysystem           90051 non-null  object
 82  apache_2_bodysystem            90051 non-null  object
 83  Unnamed: 83                    0 non-null      float64
 84  hospital_death                 91713 non-null  int64
dtypes: float64(71), int64(7), object(7)
memory usage: 59.5+ MB

<ipython-input-8-f6a666cc1a3a>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose = True, null_counts = True)

Eliminamos la columna 83 ya que no se encuentra caracterizada

In [12]:
df = df.drop(['Unnamed: 83'], axis = 1)

Eliminamos los datos que no consideramos importantes para el modelo que se desea plantear y analizar

In [13]:
df.drop(['encounter_id','patient_id', 'icu_admit_source','icu_id', 'icu_stay_type', 'icu_type'], axis = 1, inplace = True)

In [14]:
df.drop(['hospital_id','apache_2_diagnosis','apache_3j_diagnosis','apache_4a_hospital_death_prob','apache_4a_icu_death_prob','apache_2_bodysystem','apache_3j_bodysystem'], axis = 1, inplace = True)

In [15]:
df.nunique()

hospital_id                      147
age                               74
bmi                            34888
elective_surgery                   2
ethnicity                          6
                               ...
immunosuppression                  2
leukemia                           2
lymphoma                           2
solid_tumor_with_metastasis        2
hospital_death                     2
Length: 72, dtype: int64

Al observar el dataset es importante notar que los registros no presentan razgos que permitan agruparlos adecuadamente para completar informacion faltante en campos como peso, edad, o estatura. Por esto mismo, es necesario eliminar estos registros para no afectar la construccion del modelo

In [20]:
df = df[df[['bmi','age', 'weight', 'height']].isna().sum(axis=1) == 0]
df

,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,pre_icu_los_days,weight,apache_post_operative,...,d1_potassium_min,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,hospital_death
0,118,68.0,22.730000,0,Caucasian,M,180.3,0.541667,73.9,0,...,3.4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,81,77.0,27.420000,0,Caucasian,F,160.0,0.927778,70.2,0,...,3.8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
2,118,25.0,31.950000,0,Caucasian,F,172.7,0.000694,95.3,0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,118,81.0,22.640000,1,Caucasian,F,165.1,0.000694,61.7,1,...,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,83,67.0,27.560000,0,Caucasian,M,190.5,0.000694,100.0,0,...,3.7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91706,121,54.0,19.770448,0,Native American,M,177.8,0.025694,62.5,0,...,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
91708,30,75.0,23.060250,0,Caucasian,M,177.8,0.298611,72.9,0,...,4.2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
91709,121,56.0,47.179671,0,Caucasian,F,183.0,0.120139,158.0,0,...,3.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
91710,195,48.0,27.236914,0,Caucasian,M,170.2,0.046528,78.9,0,...,3.2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
91712,104,82.0,22.031250,1,Caucasian,F,160.0,0.018056,56.4,1,...,4.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [21]:
df.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84229 entries, 0 to 91712
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   hospital_id                  84229 non-null  int64
 1   age                          84229 non-null  float64
 2   bmi                          84229 non-null  float64
 3   elective_surgery             84229 non-null  int64
 4   ethnicity                    83060 non-null  object
 5   gender                       84219 non-null  object
 6   height                       84229 non-null  float64
 7   pre_icu_los_days             84229 non-null  float64
 8   weight                       84229 non-null  float64
 9   apache_post_operative        84229 non-null  int64
 10  arf_apache                   84229 non-null  float64
 11  gcs_eyes_apache              83149 non-null  float64
 12  gcs_motor_apache             83149 non-null  float64
 13  gcs_unable_apache            83970 non-null  float64
 14  gcs_verbal_apache            83149 non-null  float64
 15  heart_rate_apache            84108 non-null  float64
 16  intubated_apache             84229 non-null  float64
 17  map_apache                   84008 non-null  float64
 18  resprate_apache              83797 non-null  float64
 19  temp_apache                  81185 non-null  float64
 20  ventilated_apache            84229 non-null  float64
 21  d1_diasbp_max                84114 non-null  float64
 22  d1_diasbp_min                84114 non-null  float64
 23  d1_diasbp_noninvasive_max    83298 non-null  float64
 24  d1_diasbp_noninvasive_min    83298 non-null  float64
 25  d1_heartrate_max             84130 non-null  float64
 26  d1_heartrate_min             84130 non-null  float64
 27  d1_mbp_max                   84070 non-null  float64
 28  d1_mbp_min                   84070 non-null  float64
 29  d1_mbp_noninvasive_max       82939 non-null  float64
 30  d1_mbp_noninvasive_min       82939 non-null  float64
 31  d1_resprate_max              83914 non-null  float64
 32  d1_resprate_min              83914 non-null  float64
 33  d1_spo2_max                  83969 non-null  float64
 34  d1_spo2_min                  83969 non-null  float64
 35  d1_sysbp_max                 84120 non-null  float64
 36  d1_sysbp_min                 84120 non-null  float64
 37  d1_sysbp_noninvasive_max     83311 non-null  float64
 38  d1_sysbp_noninvasive_min     83311 non-null  float64
 39  d1_temp_max                  82164 non-null  float64
 40  d1_temp_min                  82164 non-null  float64
 41  h1_diasbp_max                81024 non-null  float64
 42  h1_diasbp_min                81024 non-null  float64
 43  h1_diasbp_noninvasive_max    77514 non-null  float64
 44  h1_diasbp_noninvasive_min    77514 non-null  float64
 45  h1_heartrate_max             81733 non-null  float64
 46  h1_heartrate_min             81733 non-null  float64
 47  h1_mbp_max                   80178 non-null  float64
 48  h1_mbp_min                   80178 non-null  float64
 49  h1_mbp_noninvasive_max       76105 non-null  float64
 50  h1_mbp_noninvasive_min       76105 non-null  float64
 51  h1_resprate_max              80361 non-null  float64
 52  h1_resprate_min              80361 non-null  float64
 53  h1_spo2_max                  80496 non-null  float64
 54  h1_spo2_min                  80496 non-null  float64
 55  h1_sysbp_max                 81033 non-null  float64
 56  h1_sysbp_min                 81033 non-null  float64
 57  h1_sysbp_noninvasive_max     77524 non-null  float64
 58  h1_sysbp_noninvasive_min     77524 non-null  float64
 59  d1_glucose_max               79047 non-null  float64
 60  d1_glucose_min               79047 non-null  float64
 61  d1_potassium_max             75687 non-null  float64
 62  d1_potassium_min             75687 non-null  float64
 63  aids                         84229 non-null  float64
 64  cirrhosis                    84229 non-null  float64
 65  diabetes_mellitus            84229 non-null  float64
 66  hepatic_failure              84229 non-null  float64
 67  immunosuppression            84229 non-null  float64
 68  leukemia                     84229 non-null  float64
 69  lymphoma                     84229 non-null  float64
 70  solid_tumor_with_metastasis  84229 non-null  float64
 71  hospital_death               84229 non-null  int64
dtypes: float64(66), int64(4), object(2)
memory usage: 46.9+ MB

<ipython-input-21-f6a666cc1a3a>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose = True, null_counts = True)

In [22]:
df.dropna()

,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,pre_icu_los_days,weight,apache_post_operative,...,d1_potassium_min,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,hospital_death
0,118,68.0,22.730000,0,Caucasian,M,180.3,0.541667,73.9,0,...,3.4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,81,77.0,27.420000,0,Caucasian,F,160.0,0.927778,70.2,0,...,3.8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
5,83,67.0,27.560000,0,Caucasian,M,190.5,0.000694,100.0,0,...,3.7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
10,77,72.0,28.257052,1,Hispanic,F,154.9,0.004861,67.8,1,...,4.2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
17,118,46.0,25.845717,0,Hispanic,M,167.6,0.000000,72.6,0,...,4.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91698,195,47.0,51.439842,1,Caucasian,M,195.0,0.033333,186.0,1,...,4.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
91706,121,54.0,19.770448,0,Native American,M,177.8,0.025694,62.5,0,...,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
91708,30,75.0,23.060250,0,Caucasian,M,177.8,0.298611,72.9,0,...,4.2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
91709,121,56.0,47.179671,0,Caucasian,F,183.0,0.120139,158.0,0,...,3.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
91712,104,82.0,22.031250,1,Caucasian,F,160.0,0.018056,56.4,1,...,4.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [24]:
df.dropna().info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62498 entries, 0 to 91712
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   hospital_id                  62498 non-null  int64
 1   age                          62498 non-null  float64
 2   bmi                          62498 non-null  float64
 3   elective_surgery             62498 non-null  int64
 4   ethnicity                    62498 non-null  object
 5   gender                       62498 non-null  object
 6   height                       62498 non-null  float64
 7   pre_icu_los_days             62498 non-null  float64
 8   weight                       62498 non-null  float64
 9   apache_post_operative        62498 non-null  int64
 10  arf_apache                   62498 non-null  float64
 11  gcs_eyes_apache              62498 non-null  float64
 12  gcs_motor_apache             62498 non-null  float64
 13  gcs_unable_apache            62498 non-null  float64
 14  gcs_verbal_apache            62498 non-null  float64
 15  heart_rate_apache            62498 non-null  float64
 16  intubated_apache             62498 non-null  float64
 17  map_apache                   62498 non-null  float64
 18  resprate_apache              62498 non-null  float64
 19  temp_apache                  62498 non-null  float64
 20  ventilated_apache            62498 non-null  float64
 21  d1_diasbp_max                62498 non-null  float64
 22  d1_diasbp_min                62498 non-null  float64
 23  d1_diasbp_noninvasive_max    62498 non-null  float64
 24  d1_diasbp_noninvasive_min    62498 non-null  float64
 25  d1_heartrate_max             62498 non-null  float64
 26  d1_heartrate_min             62498 non-null  float64
 27  d1_mbp_max                   62498 non-null  float64
 28  d1_mbp_min                   62498 non-null  float64
 29  d1_mbp_noninvasive_max       62498 non-null  float64
 30  d1_mbp_noninvasive_min       62498 non-null  float64
 31  d1_resprate_max              62498 non-null  float64
 32  d1_resprate_min              62498 non-null  float64
 33  d1_spo2_max                  62498 non-null  float64
 34  d1_spo2_min                  62498 non-null  float64
 35  d1_sysbp_max                 62498 non-null  float64
 36  d1_sysbp_min                 62498 non-null  float64
 37  d1_sysbp_noninvasive_max     62498 non-null  float64
 38  d1_sysbp_noninvasive_min     62498 non-null  float64
 39  d1_temp_max                  62498 non-null  float64
 40  d1_temp_min                  62498 non-null  float64
 41  h1_diasbp_max                62498 non-null  float64
 42  h1_diasbp_min                62498 non-null  float64
 43  h1_diasbp_noninvasive_max    62498 non-null  float64
 44  h1_diasbp_noninvasive_min    62498 non-null  float64
 45  h1_heartrate_max             62498 non-null  float64
 46  h1_heartrate_min             62498 non-null  float64
 47  h1_mbp_max                   62498 non-null  float64
 48  h1_mbp_min                   62498 non-null  float64
 49  h1_mbp_noninvasive_max       62498 non-null  float64
 50  h1_mbp_noninvasive_min       62498 non-null  float64
 51  h1_resprate_max              62498 non-null  float64
 52  h1_resprate_min              62498 non-null  float64
 53  h1_spo2_max                  62498 non-null  float64
 54  h1_spo2_min                  62498 non-null  float64
 55  h1_sysbp_max                 62498 non-null  float64
 56  h1_sysbp_min                 62498 non-null  float64
 57  h1_sysbp_noninvasive_max     62498 non-null  float64
 58  h1_sysbp_noninvasive_min     62498 non-null  float64
 59  d1_glucose_max               62498 non-null  float64
 60  d1_glucose_min               62498 non-null  float64
 61  d1_potassium_max             62498 non-null  float64
 62  d1_potassium_min             62498 non-null  float64
 63  aids                         62498 non-null  float64
 64  cirrhosis                    62498 non-null  float64
 65  diabetes_mellitus            62498 non-null  float64
 66  hepatic_failure              62498 non-null  float64
 67  immunosuppression            62498 non-null  float64
 68  leukemia                     62498 non-null  float64
 69  lymphoma                     62498 non-null  float64
 70  solid_tumor_with_metastasis  62498 non-null  float64
 71  hospital_death               62498 non-null  int64
dtypes: float64(66), int64(4), object(2)
memory usage: 34.8+ MB

<ipython-input-24-ab0e0c677e6f>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.dropna().info(verbose = True, null_counts = True)